body {
      background-color: #000;
      color: #fff;
      font-family: Roboto, sans-serif;
      margin: 0px;
      overflow: hidden;
    }

    .palette {
      width: 100%;
      height: 20px;
      padding: 0;
      margin-top: 0px;
      position: relative;
      top: 0px;
      z-index: 2;
      margin-bottom: -20px;
    }

    .palette li {
      display: block;
      float: left;
      width: 20%;
      height: 100%;
    }

    canvas {
      display: block;
      width: 120%;
      margin-left: -10%;
      position: relative;
      /*z-index: -1;*/
    }

    .ov-hidden{
      display: block;
      overflow: hidden;
    }

    #video {
      position: relative;
      height: 100%;
      width: 76%;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #snap {
      position: absolute;
      width: 13vw;
      color: #fff;
      background-color: #000;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .item {
      background-color:#000;
      border: solid 1px #000;
    }

    .sub-item-trb{
      border-top: solid 1px #000;
      border-bottom: solid 1px #000;
      border-right: solid 1px #000;
    }
    .sub-item-tb{
      border-bottom: solid 1px #000;
      border-top: solid 1px #000;
    }
    .sub-item-rb{
      border-bottom: solid 1px #000;
      border-right: solid 1px #000;
    }
    .sub-item-r{
      border-right: solid 1px #000;
    }
    .sub-item-b{
      border-bottom: solid 1px #000;
    }
    .item-no{
      border: none;
    }

    .height33 {
      height:33.3vh;
    }

    .height16 {
      height:16.6vh;
    }

    .dataPalette{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .sbox{
      display: inline-block;
    }
/** 3d btn **/
    .button {
      cursor: pointer;
      min-height: 39px;
      font-size: 14px;
      font-weight: 600;
      color:#fff;
    }
    .button a{
      color:white;
      text-decoration:none;
    }
    /*.button{
      position:relative;
      display:inline-block;
      padding-bottom: 10px;
      border-radius: 5px;
    }

    .button a{
      color:white;
      font-family:Helvetica, sans-serif;
      font-weight:bold;
      font-size:18px;
      text-align: center;
      text-decoration:none;
      background-color:#FFA12B;
      display:block;
      position:relative;
      padding:8px 8px;
  
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-shadow: 0px 1px 0px #000;
      filter: dropshadow(color=#000, offx=0px, offy=1px);
  
      -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
      -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
      box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-top: -11px;
      margin-left: -4px;
      margin-right: -4px;
    }

    .button a:active{
      top:10px;
      background-color:#F78900;
  
      -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
      -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
      box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    }

    .button:after{
      content:"";
      height:100%;
      width:100%;
      padding:4px;
      position: absolute;
      bottom:-15px;
      left:-4px;
      z-index:-1;
      background-color:#2B1800;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    */
/** 3d btn **/
    .bTop{
      /*border-top: solid 1px #000;*/
    }

/** description  **/
    #description{
      position: absolute;
      display: block;
      width: 38vw;
      top: 73%;
      left: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: difference;
      color: #fff;
      letter-spacing: .6px;
      font-weight: lighter;
    }
    .italic{
      font-style: italic;
      font-weight: bold;
    }